USE [master]
GO
/****** Object:  Database [SWP391OnGoingReport]    Script Date: 17-Aug-23 3:57:53 PM ******/
CREATE DATABASE [SWP391OnGoingReport]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SWP391OnGoingReport', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SWP391OnGoingReport.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SWP391OnGoingReport_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SWP391OnGoingReport_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SWP391OnGoingReport].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SWP391OnGoingReport]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 17-Aug-23 3:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[classID] [uniqueidentifier] NOT NULL,
	[userID] [uniqueidentifier] NOT NULL,
	[courseID] [uniqueidentifier] NOT NULL,
	[className] [nvarchar](100) NOT NULL,
	[EnrollCode] [nvarchar](50) NOT NULL,
	[timeStart] [datetime] NOT NULL,
	[timeEnd] [datetime] NULL,
	[isDeleted] [bit] NOT NULL,
	[isCompleted] [bit] NOT NULL,
 CONSTRAINT [PK_Class] PRIMARY KEY CLUSTERED 
(
	[classID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 17-Aug-23 3:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[courseID] [uniqueidentifier] NOT NULL,
	[userID] [uniqueidentifier] NOT NULL,
	[courseCode] [varchar](50) NOT NULL,
	[courseName] [nvarchar](100) NOT NULL,
	[timeCreated] [datetime] NOT NULL,
	[isActive] [bit] NOT NULL,
	[isDelete] [bit] NOT NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[courseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 17-Aug-23 3:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[projectID] [uniqueidentifier] NOT NULL,
	[classID] [uniqueidentifier] NOT NULL,
	[projectName] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NOT NULL,
	[isSelected] [bit] NOT NULL,
	[isDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[projectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectTeam]    Script Date: 17-Aug-23 3:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectTeam](
	[projectTeamID] [uniqueidentifier] NOT NULL,
	[projectID] [uniqueidentifier] NOT NULL,
	[teamName] [nvarchar](50) NOT NULL,
	[timeStart] [datetime] NOT NULL,
	[timeEnd] [datetime] NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_ProjectTeam] PRIMARY KEY CLUSTERED 
(
	[projectTeamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 17-Aug-23 3:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[roleID] [uniqueidentifier] NOT NULL,
	[roleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[roleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentClass]    Script Date: 17-Aug-23 3:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentClass](
	[studentClassID] [uniqueidentifier] NOT NULL,
	[userID] [uniqueidentifier] NOT NULL,
	[classID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_StudentClass] PRIMARY KEY CLUSTERED 
(
	[studentClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentTask]    Script Date: 17-Aug-23 3:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentTask](
	[studentTaskID] [uniqueidentifier] NOT NULL,
	[taskID] [uniqueidentifier] NOT NULL,
	[userID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_StudentTask] PRIMARY KEY CLUSTERED 
(
	[studentTaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 17-Aug-23 3:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[taskID] [uniqueidentifier] NOT NULL,
	[userID] [uniqueidentifier] NOT NULL,
	[projectID] [uniqueidentifier] NOT NULL,
	[taskName] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NOT NULL,
	[status] [char](10) NOT NULL,
	[isDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Task] PRIMARY KEY CLUSTERED 
(
	[taskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeamMember]    Script Date: 17-Aug-23 3:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamMember](
	[teamMemberID] [uniqueidentifier] NOT NULL,
	[projectTeamID] [uniqueidentifier] NOT NULL,
	[userID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_TeamMember] PRIMARY KEY CLUSTERED 
(
	[teamMemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeamRequest]    Script Date: 17-Aug-23 3:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamRequest](
	[requestID] [uniqueidentifier] NOT NULL,
	[userID] [uniqueidentifier] NOT NULL,
	[classID] [uniqueidentifier] NOT NULL,
	[team] [uniqueidentifier] NOT NULL,
	[projectID] [uniqueidentifier] NULL,
	[teamName] [nvarchar](50) NOT NULL,
	[status] [char](10) NOT NULL,
 CONSTRAINT [PK_TeamRequest] PRIMARY KEY CLUSTERED 
(
	[requestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 17-Aug-23 3:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userID] [uniqueidentifier] NOT NULL,
	[fullName] [nvarchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[roleID] [uniqueidentifier] NOT NULL,
	[isBan] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCourse]    Script Date: 17-Aug-23 3:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCourse](
	[userCourseID] [uniqueidentifier] NOT NULL,
	[courseID] [uniqueidentifier] NOT NULL,
	[userID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_UserCourse] PRIMARY KEY CLUSTERED 
(
	[userCourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Class] ([classID], [userID], [courseID], [className], [EnrollCode], [timeStart], [timeEnd], [isDeleted], [isCompleted]) VALUES (N'1a770e52-21f5-49fe-bc19-00fa45ece984', N'a03b0b85-0143-49d1-89d8-1d7b7f56efc6', N'ff8e08d1-5b0d-4165-a68c-ec7d8a020bd8', N'Clas 2', N'123', CAST(N'2023-08-13T07:41:34.447' AS DateTime), CAST(N'2023-08-13T07:41:34.447' AS DateTime), 1, 0)
INSERT [dbo].[Class] ([classID], [userID], [courseID], [className], [EnrollCode], [timeStart], [timeEnd], [isDeleted], [isCompleted]) VALUES (N'a55b0b85-0143-49d2-89d8-1d1b7f56efc6', N'a03b0b85-0143-49d1-89d8-1d7b7f56efc6', N'ff8e08d1-5b0d-4165-a68c-ec7d8a020bd8', N'HungLD', N'123', CAST(N'2023-08-12T16:49:22.053' AS DateTime), NULL, 0, 0)
GO
INSERT [dbo].[Course] ([courseID], [userID], [courseCode], [courseName], [timeCreated], [isActive], [isDelete]) VALUES (N'ff8e08d1-5b0d-4165-a68c-ec7d8a020bd8', N'c7b1ce04-c419-4e12-a34b-57d7729fa60f', N'SWP391', N'Do an nho', CAST(N'2023-08-12T16:41:04.977' AS DateTime), 1, 0)
GO
INSERT [dbo].[Project] ([projectID], [classID], [projectName], [description], [isSelected], [isDeleted]) VALUES (N'797bef66-901b-4365-965e-d8dd5b7f0e68', N'1a770e52-21f5-49fe-bc19-00fa45ece984', N'Project 2', N'mo ta Project 2', 0, 0)
INSERT [dbo].[Project] ([projectID], [classID], [projectName], [description], [isSelected], [isDeleted]) VALUES (N'1df4f5c7-f144-4cd0-8abd-da505e41892a', N'a55b0b85-0143-49d2-89d8-1d1b7f56efc6', N'HungLD_10W', N'Mo ta project', 0, 0)
INSERT [dbo].[Project] ([projectID], [classID], [projectName], [description], [isSelected], [isDeleted]) VALUES (N'fa0d1691-4db9-4952-a81d-f1882866454c', N'a55b0b85-0143-49d2-89d8-1d1b7f56efc6', N'HungLD_3w', N'Mo ta project sau thay doi', 0, 0)
GO
INSERT [dbo].[ProjectTeam] ([projectTeamID], [projectID], [teamName], [timeStart], [timeEnd], [status]) VALUES (N'3b946e4b-416f-45d5-add1-c9202db22b34', N'fa0d1691-4db9-4952-a81d-f1882866454c', N'Nhom 1', CAST(N'2023-08-12T17:03:55.440' AS DateTime), NULL, 1)
GO
INSERT [dbo].[Role] ([roleID], [roleName]) VALUES (N'be3960be-a4c8-4932-8635-3d5005c5e8dc', N'Student')
INSERT [dbo].[Role] ([roleID], [roleName]) VALUES (N'7008a7fb-4e50-47c4-8378-506c2fcf5c2b', N'Admin')
INSERT [dbo].[Role] ([roleID], [roleName]) VALUES (N'767fe372-c5a9-4ca0-bdf4-81b288bac864', N'Teacher')
GO
INSERT [dbo].[TeamMember] ([teamMemberID], [projectTeamID], [userID]) VALUES (N'a55b0b85-0143-49d2-89d8-1d1b1f56efc6', N'3b946e4b-416f-45d5-add1-c9202db22b34', N'1b26bbe5-cc0a-4c28-b1d2-235e10f9dc03')
GO
INSERT [dbo].[TeamRequest] ([requestID], [userID], [classID], [team], [projectID], [teamName], [status]) VALUES (N'df96344e-b8ea-460e-a4fb-9b07be07e875', N'1b26bbe5-cc0a-4c28-b1d2-235e10f9dc03', N'a55b0b85-0143-49d2-89d8-1d1b7f56efc6', N'62332060-4911-4d26-bae6-bcbd77bc70c8', NULL, N'Nhóm 1', N'0         ')
INSERT [dbo].[TeamRequest] ([requestID], [userID], [classID], [team], [projectID], [teamName], [status]) VALUES (N'cdfdd070-6f43-4eba-932c-b7a074120764', N'566b1628-b245-42bc-99ab-b6074c4d4acd', N'a55b0b85-0143-49d2-89d8-1d1b7f56efc6', N'62332060-4911-4d26-bae6-bcbd77bc70c8', NULL, N'Nhóm 1', N'0         ')
GO
INSERT [dbo].[User] ([userID], [fullName], [email], [password], [roleID], [isBan]) VALUES (N'a03b0b85-0143-49d1-89d8-1d7b7f56efc6', N'Nguyễn Thị Minh Khai', N'nguyenthiminhkhai@gmail.com', N'123456', N'767fe372-c5a9-4ca0-bdf4-81b288bac864', 0)
INSERT [dbo].[User] ([userID], [fullName], [email], [password], [roleID], [isBan]) VALUES (N'1b26bbe5-cc0a-4c28-b1d2-235e10f9dc03', N'Học sinh 1', N'hocsinh1@gmail.com', N'123456', N'be3960be-a4c8-4932-8635-3d5005c5e8dc', 0)
INSERT [dbo].[User] ([userID], [fullName], [email], [password], [roleID], [isBan]) VALUES (N'c7b1ce04-c419-4e12-a34b-57d7729fa60f', N'Võ Thị Sáu - University', N'vothisau@gmail.com', N'123456', N'7008a7fb-4e50-47c4-8378-506c2fcf5c2b', 0)
GO
INSERT [dbo].[UserCourse] ([userCourseID], [courseID], [userID]) VALUES (N'04247a99-4213-4466-a8e0-26650a4af7d5', N'9bd68e11-cd7c-4bdf-9ea0-d31f466ab5f1', N'a03b0b85-0143-49d1-89d8-1d7b7f56efc6')
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD  CONSTRAINT [FK_Class_Course] FOREIGN KEY([courseID])
REFERENCES [dbo].[Course] ([courseID])
GO
ALTER TABLE [dbo].[Class] CHECK CONSTRAINT [FK_Class_Course]
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD  CONSTRAINT [FK_Class_User] FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[Class] CHECK CONSTRAINT [FK_Class_User]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_User] FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_User]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_Project_Class] FOREIGN KEY([classID])
REFERENCES [dbo].[Class] ([classID])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_Project_Class]
GO
ALTER TABLE [dbo].[ProjectTeam]  WITH CHECK ADD  CONSTRAINT [FK_ProjectTeam_Project] FOREIGN KEY([projectID])
REFERENCES [dbo].[Project] ([projectID])
GO
ALTER TABLE [dbo].[ProjectTeam] CHECK CONSTRAINT [FK_ProjectTeam_Project]
GO
ALTER TABLE [dbo].[StudentClass]  WITH CHECK ADD  CONSTRAINT [FK_StudentClass_Class] FOREIGN KEY([classID])
REFERENCES [dbo].[Class] ([classID])
GO
ALTER TABLE [dbo].[StudentClass] CHECK CONSTRAINT [FK_StudentClass_Class]
GO
ALTER TABLE [dbo].[StudentClass]  WITH CHECK ADD  CONSTRAINT [FK_StudentClass_User] FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[StudentClass] CHECK CONSTRAINT [FK_StudentClass_User]
GO
ALTER TABLE [dbo].[StudentTask]  WITH CHECK ADD  CONSTRAINT [FK_StudentTask_Task] FOREIGN KEY([taskID])
REFERENCES [dbo].[Task] ([taskID])
GO
ALTER TABLE [dbo].[StudentTask] CHECK CONSTRAINT [FK_StudentTask_Task]
GO
ALTER TABLE [dbo].[StudentTask]  WITH CHECK ADD  CONSTRAINT [FK_StudentTask_User] FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[StudentTask] CHECK CONSTRAINT [FK_StudentTask_User]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_Project] FOREIGN KEY([projectID])
REFERENCES [dbo].[Project] ([projectID])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_Project]
GO
ALTER TABLE [dbo].[TeamMember]  WITH CHECK ADD  CONSTRAINT [FK_TeamMember_ProjectTeam] FOREIGN KEY([projectTeamID])
REFERENCES [dbo].[ProjectTeam] ([projectTeamID])
GO
ALTER TABLE [dbo].[TeamMember] CHECK CONSTRAINT [FK_TeamMember_ProjectTeam]
GO
ALTER TABLE [dbo].[TeamMember]  WITH CHECK ADD  CONSTRAINT [FK_TeamMember_User] FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[TeamMember] CHECK CONSTRAINT [FK_TeamMember_User]
GO
ALTER TABLE [dbo].[TeamRequest]  WITH CHECK ADD  CONSTRAINT [FK_TeamRequest_Class] FOREIGN KEY([classID])
REFERENCES [dbo].[Class] ([classID])
GO
ALTER TABLE [dbo].[TeamRequest] CHECK CONSTRAINT [FK_TeamRequest_Class]
GO
ALTER TABLE [dbo].[TeamRequest]  WITH CHECK ADD  CONSTRAINT [FK_TeamRequest_User] FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[TeamRequest] CHECK CONSTRAINT [FK_TeamRequest_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([roleID])
REFERENCES [dbo].[Role] ([roleID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
